body {
background-color: aliceblue;
}


h1{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-weight: 300;
}


.container {
max-width: 600px;
margin: 60px auto;
padding: 30px;
background-color: palegoldenrod;
border-radius: 10px;
}

.city{
display: flex; 
justify-content: space-between;
margin: 20px 0;
padding: 20px 0;
border-bottom: 1px dashed gray;
}


h2{
margin: 0 0 5px;
font-size: 28px;
}

.date {
opacity: 0.7;
}

.time{
font-size:48px;
font-weight: bold;
}


.time small{
font-size:24px;
vertical-align: middle;
line-height: 48px;
}


select {
display: block;
width: 100%;
font-size: 18px;
border-radius: 4px;
padding:10px;
}



footer{
text-align: center; 
font-size:18px;
color:rgba(0, 0, 0, 0.8);
}